footer{
	background-color: #44b25a;
  	border-color: #44b25a;
}

#rodape{
	margin-top: 40px;
}

#links a{
	color:#fff;
}

#coluna1{
	margin-left: 150px;
	border-right: 1px #fff solid; 
}

#coluna2{
	margin-left: 60px;
}

#texto_rodape{
	text-align: center;
	color: #fff;
}

.fb-page{
	margin-left: 70px;
}

.glyphicon {
	 font-size: 30px;
	 color: #fff;
}