{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'Classifieds' %} {% endblock %}

{% block content %}
<div class="body-margin">
	<div class="container-fluid">
		<br>
		<h3>{% trans 'Classifieds' %}</h3>
		<p>Conheça algumas empresa que nos apoiam:</p>
		
		{%for classified in classifieds %}
			<div class="row">
			 	<div class="col-md-5">
		      		{%for img in classified.image.all %}
			  			<img src="{{ img.image.url }}" height="300" width="500">
			  		{% endfor %}
			  	</div>
			  	<div class="col-md-7">
		      		<h3>{{ classified.title }}</h3>
		      		<p>{{ classified.description }}</p>

		      		<a class="btn btn-custom" href="{{ classified.site }}">{% trans 'More Information' %}
		      	<span class="glyphicon glyphicon-chevron-right">
		      </a>
			  </div>
			</div>

			<hr>
		{% endfor %}
	</div>
</div>

{% endblock %}
