{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'Classifieds' %} {% endblock %}

{% block content %}
	<h1>{% trans 'Classifieds' %}</h1>
	
	{%for classified in classifieds %}
		<div class="row">
		  <div class="col-md-5">
	      <a href="#">
	         <img class="img-responsive" src="http://placehold.it/700x300" alt="">
	      </a>
		  </div>
		  <div class="col-md-7">
	      <h3>{{ classified.title }}</h3>
	      <p>{{ classified.description }}</p>

	      <a class="btn btn-primary" href="{{ classified.site }}">{% trans 'More Information' %}
	      	<span class="glyphicon glyphicon-chevron-right">
	      </a>
		  </div>
		</div>

		<hr>
	{% endfor %}

{% endblock %}
