{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'Gallery news' %} {% endblock %}


{% load staticfiles %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/custom-news-list.css' %}">
{% endblock %}

{% block content %}

<div class="body-margin">
	<div class="container-fluid">
		<br>
		<h3>{% trans 'Gallery news' %}</h3>
		<div class="row">

			<div class="row">
				{% for event in events %}
					<a href="{% url 'detail-news' event.id %}">
						<div class="col-md-3">
							<img class="img-responsive" id ="img_noticia" src="{{ event.principal_image.url }}" alt="{{ event.title }}">
							<h4>{{ event.title }}</h4>
							<br><br>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}