{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'Gallery' %} {% endblock %}

{% block content %}

<div class="body-margin">
	<br>
	<h3>{% trans 'Gallery' %}</h3>
	<div class="row">

		{% for event in events %}
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
			      		<img class="img-responsive" src="{{ event.principal_image.url }}" alt="{{ event.title }}">
					</div>
					<div class="col-md-10">
						<h4>{{ event.title }}</h4>
						<b>{{ event.date }}</b>
						<p>{{ event.description }}</p>
						<a class = "btn btn-custom" href="{% url 'detail-gallery' event.id %}">{% trans 'View all photos' %}</a>
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}

	</div>
</div>

{% endblock %}