{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'Home' %} {% endblock %}

{% load staticfiles %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/custom-home.css'%}">
{% endblock %}

{% block content %}
	<!--CARROSSEL-->
	<div class="carousel" id="carousel-example-generic">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="{% url 'associate-new' %}">
					<img alt="Carousel Bootstrap First" src="{% static 'core/images/imagem_carrossel.png'%}">
				</a>
			</div>
			<div class="item">
				<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/1812/480/animals/">
			</div>
			<div class="item">
				<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/1812/480/animals/">
			</div>
		</div> 
	</div>
	<!--FIM CARROSSEL-->
	<div class="row" id="linha_informacoes">
		<div class="col-md-4">
			<div class="info_centralizada">
				<a href="{% url 'association' %}">
					<img src="{% static 'core/images/amar_flora.png' %}" alt="Amar Flora" class="img-circle" title="Amar Flora">
					<h3>Conheça a Amar Flora</h3>
					<p>Associação de moradores da Cácara Flora</p>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info_centralizada">
				<a href="{% url 'associate-new' %}">
					<img src="{% static 'core/images/associados.png' %}" alt="Associe-e" class="img-circle" title="Associe-se">
					<h3>Associe-se</h3>
					<p>Conheça os benefícios de ser um associado</p>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="info_centralizada">
				<a href="{% url 'partner-list' %}" >
					<img src="{% static 'core/images/parceiros.png' %}" alt="Nossos parceiros" class="img-circle" title="Nossos parceiros">
					<h3>Nossos parceiros</h3>
					<p>Conheça nossos parceiros</p>
				</a>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<div class="info_centralizada">
				<div class="body-margin">
					<h2> Seja bem vindo à Amar Flora</h2>
					<br>
					{% for information in informations %}
						<p>{{ information.home_description }}</p>
					{% endfor%}
				</div>
			</div> 
		</div>

		<div class="col-md-5">
			<img class="img-rounded" src="{% static 'core/images/coqueiros_flora.jpg' %}">
		</div> 
	</div>
{% endblock %} 

{% block extra_js %}
	<script>
	  $(document).ready(function(){
	    $('.carousel').carousel();
	  });
	</script>

{% endblock %}