<nav class="container" style="background:#eee">
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="{% url 'home' %}">Amar Flora</a></li>
	  <li role="presentation"><a href="{% url 'associate-list' %}">Associados</a></li>
	  <li role="presentation"><a href="#">Galeria</a></li>
	  <li role="presentation"><a href="{% url 'news-list' %}">Notícias</a></li>
	  <li role="presentation"><a href="#">Parceiros</a></li>
	  <li role="presentation"><a href="#">Classificados</a></li>
	  <li role="presentation"><a href="#">Abrir Chamado</a></li>
	</ul>
</nav>