{% extends 'core/base.html' %}

{% load i18n %}

{% block title %} {% trans 'News' %} {% endblock %}

{% block content %}
	<h1>{% trans 'Lastest News' %}</h1>

	{%for news in list_news %}
		<div class="row">
		  <div class="col-md-5">
	      <a href="#">
	        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
	      </a>
		  </div>
		  <div class="col-md-7">
	      <h3>{{ news.title }}</h3>
	      <p>{{ news.description }}</p>
		  </div>
		</div>

		<hr>
	{% endfor %}

{% endblock %}
